<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "DEMO" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body id="page-top">
    <!-- Navigation -->
      <%= render 'layouts/navigation' %>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12 text-center text-uppercase text-white">
            <%= render 'layouts/messages' %>
            <!-- Header -->
      </div></div>
    </div>
      <%= yield %>
  </body>
</html>
